*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 600;

}

:root{
  --second-color: #008000;
}

body {
  margin: 0 15rem;
  font-family: Arial, sans-serif;
}

.navlist {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: fixed;
  width: calc(100% - 30rem);
  top: 0;
  z-index: 1000;
}
  
  .navlist .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navlist .logo img {
    height: 40px;
  }
  
  .navlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navlist li {
    margin-left: 20px;
  }
  
  .navlist li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px;
    transition: 0.4s;
  }
  
  /* Change for bars to form an "X" */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }
  
  .frstbutton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.aboutbutton {
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    border: 2px solid green;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

  #About{
    margin: 40px 50px 70px 50px;
  }

  .about-text{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
  }

  .about-text-1{
    margin: 30px;
    word-spacing: 3px;
    text-align: center;
  }

  #Rooms{
    background-color: rgb(197, 197, 197);
    padding-bottom: 30px;
  }

  .roomsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
}

  .rooms-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    padding-top: 20px;
    margin: 0 20px 50px 20px;
    }

    .explore{
      margin-top: 20px;
      font-size: 40px;
      float: left;
    }

  #expoBtn{
    margin-top: 20px;
    float: right;
  }

  .atroom{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
  }

  .t_rroom{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
  }

  .room-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .room-img{
    margin: 0px;
  }

  .roomname{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: 700;
  }

  .room-text{
    margin: 20px;
  }


  .roomBtn{
    margin: 0 0 0 20px;
  }

  .roomBtn button{
    color: black;
  }

  #Houses{
    margin-bottom: 30px;
  }

  #expoBtnHouses{
    margin-top: 20px;
    float: right;
    color: black;
  }

  .housesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
}

    .explore{
      margin-top: 20px;
      font-size: 40px;
      float: left;
    }

  #expoBtn{
    margin-top: 20px;
    float: right;
  }

  .mrhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .nlhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .tyhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .house-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .house-img{
    margin: 0px;
  }

  .housename{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: 700;
  }

  .house-text{
    margin: 20px;
  }


  .houseBtn{
    margin: 0 0 0 20px;
  }

  .houseBtn button{
    color: black;
  }

  .getOffer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    padding-top: 20px;
    margin: 0 20px 40px 20px;
    }

    #getOffer{
      background-color: rgb(197, 197, 197);
      padding-bottom: 5px;
    }

    .facilities-content{
      text-align: center;
      gap: 30rem;
      padding-top: 20px;
      margin: 0 20px 40px 20px;
    }

    .facilities-RN{
      margin: 40px 0 10px 0;
      font-size: 15px;
      color: var(--second-color);
    }

    .facilities{
      font-size: 50px;
      font-weight: 600;
    }

    .facilitiesContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 80px;
      padding: 80px;
      justify-content: center;
  }

  .facilities-options{
    text-align: center;
    margin: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .facilities-logo svg{
    width: 50px;
    height: 50px;
  }

  .facilities-text{
    margin: 20px 0 20px 0;
  }

  .facilities-text1{
    margin: 20px;
  }

  .facilities-btn button{
    color: black;
  }

  #Restaurant{
    background-color: rgb(197, 197, 197);
    padding-bottom: 5px;
  }

  .restaurant-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    padding-top: 20px;
    margin: 0 10px 40px 10px;
    }

  .restaurant-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .restaurant-logo svg{
    width: 100px;
    height: 100px;
  }

    .restaurant-text1{
    font-weight: 600;
    margin: 50px 30px 40px 30px;
    padding-top: 10px;
    margin-bottom: 3rem;
  }

  .eventsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
    justify-content: center;
}

.events-options{
  text-align: center;
  margin: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.events-logo svg{
  width: 50px;
  height: 50px;
}

.events-text{
  margin: 20px 0 20px 0;
}

.events-text1{
  margin: 20px;
}

.events-btn button{
  color: black;
  text-align: center;
}



    /**********************************************/

    @media (max-width: 768px) {
      .navlist {
        padding: 10px;
        width: 100%;
      }
    
      .menu-toggle {
        display: flex;
      }
    
      .navlist ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
    
      .navlist ul.show {
        display: flex;
      }
    
      .navlist li {
        margin-left: 0;
        text-align: left;
      }
    
      .navlist li a {
        padding: 15px;
      }

    body {
      margin: 0;
        font-family: Arial, sans-serif;
      }

      .frstbutton {
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid green;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
      }

    .button {
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid green;
      color: white;
      cursor: pointer;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
    }

    #About{
      margin: 40px 0px 70px 0px;
    }

      .rooms-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 20px;
        margin: 0 20px 60px 20px;
        }
    
        .explore{
          margin-top: 20px;
          font-size: 25px;
          float: left;
        }
    
      #expoBtn{
        margin-top: 20px;
        float: right;
      }

      .roomsContainer {
        gap: 40px;
        padding: 30px;
    }

    .housesContainer {
      gap: 40px;
      padding: 30px;
  }

  .getOffer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 20px;
    margin: 0 20px 40px 20px;
    }

    .facilities-RN{
      font-size: 15px;
    }

    .facilities{
      font-size: 35px;
    }

    .facilitiesContainer {
      gap: 40px;
      padding: 30px;
  }

  .facilities-text{
    font-size: 30px;
  }

  .restaurant-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 20px;
    margin: 0 10px 40px 10px;
    }

    .restaurant-rn{
      font-size: 20px;
    }

    .eventsContainer {
      gap: 40px;
      padding: 30px;
  }

  .events-text{
    font-size: 30px;
  }

  }

    
  @media (min-width: 769px) {
    
    .navlist ul {
      display: flex !important;
    }

  }
  