*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 600;

}

body {
  margin: 0 15rem 0 15rem;
    font-family: Arial, sans-serif;
  }
  
  .navlist {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navlist .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .navlist .logo img {
    height: 40px;
  }
  
  .navlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navlist li {
    margin-left: 20px;
  }
  
  .navlist li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .frstbutton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  #About{
    margin: 40px 50px 70px 50px;
  }

  .about-text{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
  }

  .about-text-1{
    margin: 30px;
    word-spacing: 3px;
    text-align: center;
  }

  #Rooms{
    background-color: rgb(197, 197, 197);
    padding-bottom: 30px;
  }

  .roomsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
}

  .rooms-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    padding-top: 20px;
    margin: 0 20px 80px 20px;
    }

    .explore{
      margin-top: 20px;
      font-size: 40px;
      float: left;
    }

  #expoBtn{
    margin-top: 20px;
    float: right;
  }

  .atroom{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
  }

  .t_rroom{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
  }

  .room-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .room-img{
    margin: 0px;
  }

  .roomname{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: 700;
  }

  .room-text{
    margin: 20px;
  }


  .roomBtn{
    margin: 0 0 0 20px;
  }

  .roomBtn button{
    color: black;
  }

  #expoBtnHouses{
    margin-top: 20px;
    float: right;
    color: black;
  }

  /****************************************/

  .housesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
}

    .explore{
      margin-top: 20px;
      font-size: 40px;
      float: left;
    }

  #expoBtn{
    margin-top: 20px;
    float: right;
  }

  .mrhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .nlhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .tyhouse{
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background-color: rgb(197, 197, 197);
  }

  .house-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .house-img{
    margin: 0px;
  }

  .housename{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: 700;
  }

  .house-text{
    margin: 20px;
  }


  .houseBtn{
    margin: 0 0 0 20px;
  }

  .houseBtn button{
    color: black;
  }

    @media (max-width: 768px) {
    .navlist {
      flex-wrap: wrap;
    }
  
    .navlist ul {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .navlist li {
      margin: 0;
      width: 100%;
    }
  
    .navlist li a {
      padding: 10px;
      text-align: left;
    }
  
    .menu-toggle {
      display: flex;
    }
  }
  
  @media (min-width: 769px) {
    
    .navlist ul {
      display: flex !important;
    }

  }

  @media (max-width: 769px) {

    body {
      margin: 0;
        font-family: Arial, sans-serif;
      }

      .frstbutton {
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid green;
        color: white;
        cursor: pointer;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }

    .button {
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid green;
      color: white;
      cursor: pointer;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
    }

    #About{
      margin: 40px 0px 70px 0px;
    }

      .rooms-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 20px;
        margin: 0 20px 60px 20px;
        }
    
        .explore{
          margin-top: 20px;
          font-size: 25px;
          float: left;
        }
    
      #expoBtn{
        margin-top: 20px;
        float: right;
      }

      .roomsContainer {
        gap: 40px;
        padding: 30px;
    }

    .housesContainer {
      gap: 40px;
      padding: 30px;
  }

  }
  